.element-loader-backdrop {
    box-shadow: none;
}

.dne-storefront-dark-mode-btn {
    .icon-theme-dark {
        display: none;
    }
    .icon > svg {
        top: 0.25em;
    }
}

:root[data-theme="dark"] {
    .dne-storefront-dark-mode-btn {
        .icon-theme-light {
            display: none;
        }
        .icon-theme-dark {
            display: inline-flex;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root:not([data-theme="light"]) {
        .dne-storefront-dark-mode-btn:not([data-dne-storefront-dark-mode-detection-disabled="1"]) {
            .icon-theme-light {
                display: none;
            }
            .icon-theme-dark {
                display: inline-flex;
            }
        }
    }
}
