<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title>Color settings (re-compiles themes after changes)</title>
        <title lang="de-DE">Farbeinstellungen (nach Änderungen Themes kompilieren)</title>
        <input-field type="int">
            <name>minLightness</name>
            <label>Percentage of minimum lightness</label>
            <label lang="de-DE">Minimale Helligkeit in Prozent</label>
            <helpText>By increasing the number, the maximum blackness is reduced. Can be used to decrease the contrast.</helpText>
            <helpText lang="de-DE">Je höher die Zahl, desto geringer der maximale Schwarzanteil. Kann zur Verringerung des Kontrasts verwendet werden.</helpText>
            <defaultValue>15</defaultValue>
            <placeholder>15</placeholder>
            <min>0</min>
            <max>100</max>
        </input-field>
        <input-field type="int">
            <name>saturationThreshold</name>
            <label>Percentage threshold for color contrast</label>
            <label lang="de-DE">Schwellenwert für Farbkontrast in Prozent</label>
            <helpText>By increasing the number, more saturated colors are getting shaded. Can be used to control color precision.</helpText>
            <helpText lang="de-DE">Je höher die Zahl, desto mehr gesättigte Farben werden schattiert. Kann genutzt werden um Farbechtheit zu kontrollieren</helpText>
            <defaultValue>65</defaultValue>
            <placeholder>65</placeholder>
            <min>0</min>
            <max>100</max>
        </input-field>
        <input-field type="colorpicker">
            <name>grayscaleTint</name>
            <label>Hue for tinting grayscales</label>
            <label lang="de-DE">Farbton zur Färbung von Graustufen</label>
            <helpText>Choose a color hue to tint grayscales</helpText>
            <helpText lang="de-DE">Ein Farbton der verwendet werden kann um Graustufen einzufärben</helpText>
            <colorOutput>hex</colorOutput>
        </input-field>
        <input-field type="int">
            <name>grayscaleTintAmount</name>
            <label>Percentage for grayscale tining</label>
            <label lang="de-DE">Prozentwert zum Einfärben von Graustufen</label>
            <helpText>A percentage for tining grayscales by the hue chosen. No more than 5 percent are recommended.</helpText>
            <helpText lang="de-DE">Der prozentuale Wert zur Einfärbung von Graustufen in die ausgewählte Farbe. Mehr als 5 Prozent sind nicht empfehlenswert.</helpText>
            <defaultValue>0</defaultValue>
            <placeholder>0</placeholder>
            <min>0</min>
            <max>100</max>
        </input-field>
        <component name="sw-tagged-field">
            <name>ignoredHexCodes</name>
            <label>Unchangeable hex color values</label>
            <label lang="de-DE">Unveränderbare Hex-Farbwerte</label>
            <helpText>Color values included in the list are not being shaded. Example: "#123456"</helpText>
            <helpText lang="de-DE">Farbwerte, die in der Liste enthalten sind, werden nicht schattiert. Beispiel: "#123456"</helpText>
        </component>
        <component name="sw-tagged-field">
            <name>ignoredSelectors</name>
            <label>Unchangeable CSS selectors</label>
            <label lang="de-DE">Unveränderbare CSS Selektoren</label>
            <helpText>Color values within the rules for the provided selectors are not being shaded. Example: ".my-parent .my-class"</helpText>
            <helpText lang="de-DE">Farbwerte werden nicht schattiert, wenn sie in Regeln für die angegebenen Selektoren verwendet werden. Beispiel: ".my-parent .my-class"</helpText>
        </component>
        <input-field type="bool">
            <name>invertShadows</name>
            <label>Also invert shadows</label>
            <label lang="de-DE">Schatten ebenfalls invertieren</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>deactivateAutoDetect</name>
            <label>Deactivate dark mode auto-detection</label>
            <label lang="de-DE">Deaktiviere automatischen Dark-Mode</label>
            <helpText>Detects if the dark mode is prefered by the system settings of the user.</helpText>
            <helpText lang="de-DE">Erkennt an den Systemeinstellungen des Nutzers ob der Dark-Mode bevorzugt werden soll.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>useHslVariables</name>
            <label>Use HSL color format</label>
            <label lang="de-DE">HSL Farbformat verwenden</label>
            <defaultValue>false</defaultValue>
        </input-field>
        <input-field type="bool">
            <name>keepNamedColors</name>
            <label>Keep named CSS colors</label>
            <label lang="de-DE">Benannte Farben beibehalten</label>
            <helpText>If literal color names are used in the CSS like "white" or "blue", then keep the original color value.</helpText>
            <helpText lang="de-DE">Wenn Farben mit wörtlichen Namen im CSS verwendet werden, z.B. "white" oder "blue", dann behalte den ursprünglichen Farbwert.</helpText>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
    <card>
        <title>Storefront settings</title>
        <title lang="de-DE">Storefront Einstellungen</title>
        <input-field type="bool">
            <name>hideToggle</name>
            <label>Hide switch for dark mode in storefront</label>
            <label lang="de-DE">Schalter für Dark-Mode im Storefront ausblenden</label>
            <defaultValue>false</defaultValue>
        </input-field>
    </card>
</config>
